.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:xx-large;
    .header-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 90px;
    font-weight: bold;
    h2{
        color: #333333
        }
    .title{
        color: gray;
    }
    }
    .header-link{
    display: flex;
    align-items: center;
    margin-right: 90px;
    h3{
        font-weight: bold;
    }
    p{
        padding-right: 10px;
        font-weight: lighter;
    }
    span{
        font-weight: 500;
    }
    }
}
.header-line{
    border-top: 1px solid gray; 
    width: 1115px; 
    height: 0;
    margin-left: 90px;
    margin-top: -29px;
}