.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:x-large;
    .todo-title{
        margin-top: 60px;
    }
    .todo-link{
       p{
          margin:0;
          padding: 10px;
       }
       input{
        padding: 10px 80px;
       }
    }
    .link-url{
        margin-top: 20px;
    }
    .todo-button{
        margin-top: 20px;
        padding-left: 250px;
       button{
        color: white;
        background-color: black;
        border-radius: 5px;
        padding: 5px 10px;
        &:hover{
        color: black;
        background-color: white;
        }
       }
    }
}