.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:x-large;
    .return{
     margin-left: -440px;
     button{
        border: 0;
        background-color: white;
        font-weight: bold;
        font-size: medium;
        &:hover{
      
            cursor: pointer;
            background-color: #333333;
            border-radius: 10px;
            color: white;
           }
     }
    }
    .todo-title{
        margin-top: 60px;
    }
    .todo-link{
       p{
          margin:0;
          padding: 10px;
       }
       input{
        padding: 10px 80px;
       }
    }
    .link-url{
        margin-top: 20px;
    }
    .todo-button{
        margin-top: 20px;
        padding-left: 250px;
       button{
        color: white;
        background-color: black;
        border-radius: 5px;
        padding: 5px 10px;
        &:hover{
        color: black;
        background-color: white;
        }
       }
    }
    .alert-wrapper{
        .alert-warning{
            background-color:lightcoral;
            color: red;
            border: 1px solid darkred;
            padding: 10px;
            font-weight: bold;
            border-radius: 5px;
           }
        .alert-success{
            background-color: lightgreen;
            color: green;
            border: 1px solid darkgreen;
            padding: 10px;
            font-weight: bold;
            border-radius: 5px;
        }
        

    }
}