.todo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 500px;
    margin-left: 350px;
    margin-top: 50px;
    .todo-points{
        border: 1px solid #333333;
        background-color: gray;
        color: black;
        padding: 10px;
        margin: 12px;
        p{
            margin: 0;
            font-size: xx-large;
            padding-left: 17px;
        }
    }
    .todo-name{
        margin-top: -37px;
        p{
            font-weight: bolder;
            font-size:large  ;
            margin: 0;
            padding: 4px 19px
        }
        width: 500px;
        height: 50px;
        li{
            list-style-type: none;
            padding: 0 19px;
        }
    }
    .comment{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        button{
            border: none;
            background: white;
            color: #333333;
            font-size: smaller;
            &:hover{
             cursor: pointer;
             background-color: #333333;
             border-radius: 10px;
             color: white;
            }
        }
        .like{
            margin-left: -411px;
            margin-top: 55px;
        
        }
        .dislike{
            margin-left: 180px;
            margin-top: 55px;
        }
    }
}