.todo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 500px;
    margin-left: 350px;
    margin-top: 50px;
    .todo-points{
        border: 1px solid #333333;
        background-color: gray;
        color: black;
        padding: 10px;
        margin: 12px;
        p{
            margin: 0;
            font-size: xx-large;
            padding-left: 17px;
        }
    }
    .todo-name{
        margin-top: -37px;
        p{
            font-weight: bolder;
            font-size:large  ;
            margin: 0;
            padding: 4px 19px
        }
        width: 500px;
        height: 50px;
        li{
            list-style-type: none;
            padding: 0 19px;
        }
    }
    .comment{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        button{
            border: none;
            background: white;
            color: #333333;
            font-size: smaller;
            &:hover{
             cursor: pointer;
             background-color: #333333;
             border-radius: 10px;
             color: white;
            }
        }
        .like{
            position: absolute  ;
            top: 65px;
            right: 303px;
            width: 93px;
        }
        .dislike{
            position: absolute;
            right: 9px;
            top: 69px;
        }
    }
    .todo-delete{
        position: absolute;
        bottom: 85px;
        right: -12px;
        button{
          background-color: red;
          color: white;
          border-radius: 100px;
          border: black;
          box-shadow: black;
          &:hover{
            cursor: pointer;
          }
        }
       
    }
}